.create-post{
    margin-top: 4rem;
}
#root > div > main > div > div > div > form > div > div > span > input {
    font-family: helvetica;
    width: 5rem;
}
#root > div > main > div > div > div > form > div > div > span > span {
    display: inline-block;
    font-size: 0.9rem;
    color: #faebd7;
    background: #4f6e42;
    margin-right: 0.2rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}