#navbarSupportedContent > ul > li.nav-item > a {
  color: #faebd7;
  &:hover{
    opacity: 0.8;
  }
}

#root > div > header > nav {
  background: #6e426b !important;
  padding: 2px 16px;
}

.kdog-brand {
  width: 80px;
}

@media (max-width: 768px) {
  #navbarSupportedContent > ul.navbar-nav > li.nav-item > a {
    float: left;
    flex-direction: row !important;
    .custom-icon {
      margin-right: 0.3rem;
    }
  }
  .kdog-brand {
    width: 80px;
  }
}

@media (max-width: 576px) {
  #navbarSupportedContent > ul.navbar-nav > li.nav-item > a {
    float: left;
    flex-direction: row !important;
    .custom-icon {
      margin-right: 0.3rem;
    }
  }
  .kdog-brand {
    width: 60px;
  }
}
