.card {
  min-width: 320px;
  border-radius: 10px !important;
  box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.2);
  .user-box {
    font-size: 0.9rem;
    // margin-left: -8px;
    .user-icon {
      height: 1.5rem;
      width: 1.5rem;
      color: #6e426b;
    }
  }
  .date-box {
    font-size: 0.8rem;
    // margin-right: -8px;
  }
  .post-text {
    // display: inline-block;
    // vertical-align: middle;
    height: 70px;
    overflow: hidden;
  }
  .post-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .action-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    &:disabled {
      cursor: default;
      opacity: 0.6;
    }
    &:active {
      opacity: 0.5;
    }
  }
  .custom-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #6e426b;
    padding-bottom: 7px;
    &.liked {
      color: hotpink;
    }
  }
  .sm-custom-icon {
    height: 1.6rem;
    width: 1.6rem;
    color: #6e426b;
    padding-bottom: 7px;
    &.liked {
      color: hotpink;
    }
  }

  .TagList {
    .tag {
      a {
        display: inline-block;
        font-size: 0.9rem;
        color: #faebd7;
        background: #4f6e42;
        margin-left: 0.4rem;
        margin-bottom: 0.4rem;
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
      }
    }
  }
}
