// .flex-fill {
//   flex: 1 1 auto;
// }

.kdog-submit-button {
  background: #6e426b !important;
  color: #faebd7 !important;
  border-color: #6e426b !important;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  &:hover {
    background: rgba(110, 66, 107, 0.9) !important;
    color: #faebd7 !important;
    border-color: #6e426b !important;
  }
  &:active {
    background: #6e426b !important;
    color: #faebd7 !important;
    border-color: #6e426b !important;
  }
  &:disabled {
    background: rgb(110, 66, 107) !important;
    border-color: #6e426b !important;
  }
}
.kdog-cancel-button {
  background: #969696 !important;
  color: #faebd7 !important;
  border-color: #969696 !important;
  outline: none;
  padding: 6px !important;
  border-radius: 3px;
  &:hover {
    background: rgba(150, 150, 150, 0.9) !important;
    color: #faebd7 !important;
    border-color: #969696 !important;
  }
  &:active {
    background: #969696 !important;
    color: #faebd7 !important;
    border-color: #969696 !important;
  }
  &:disabled {
    background: #969696 !important;
    border-color: #969696 !important;
  }
}

.user-message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
