// .flex-fill {
//   flex: 1 1 auto;
// }

.kdog-submit-button {
  background: #6e426b;;
  color: #faebd7;
  border-color: #6e426b;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  &:hover {
    background: rgba(110, 66, 107, 0.9);
    color: #faebd7;
    border-color: #6e426b;
  }
  &:active {
    background: #6e426b;
    color: #faebd7;
    border-color: #6e426b;
  }
  &:disabled {
    background: rgb(110, 66, 107);
    border-color: #6e426b;
  }
}
.kdog-cancel-button {
  background: #969696;;
  color: #faebd7;
  border-color: #969696;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  &:hover {
    background: rgba(150, 150, 150, 0.9);
    color: #faebd7;
    border-color: #969696;
  }
  &:active {
    background: #969696;
    color: #faebd7;
    border-color: #969696;
  }
  &:disabled {
    background: #969696;
    border-color: #969696;
  }
}

.user-message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
